node_red_flow.json
[{"id":"m1","type":"mqtt in","z":"flow1","name":"","topic":"serre/data","broker":"b1","x":100,"y":120,"wires":[["j1"]]},{"id":"j1","type":"json","z":"flow1","name":"","property":"payload","action":"","pretty":false,"x":250,"y":120,"wires":[["f_main","f_t","f_h","f_s","f_l"]]},{"id":"f_main","type":"function","z":"flow1","name":"Prepare All Fields","func":"var apiKey = \"82W2OJR0T1EBPHFB\";\nvar d = msg.payload;\nmsg.url = \"https://api.thingspeak.com/update?api_key=\" + apiKey + \n          \"&field1=\" + d.temp + \n          \"&field2=\" + d.hum + \n          \"&field3=\" + d.soil + \n          \"&field4=\" + d.light;\nreturn msg;","outputs":1,"x":470,"y":80,"wires":[["ts_req"]]},{"id":"f_t","type":"function","z":"flow1","name":"get_temp","func":"msg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"x":440,"y":140,"wires":[["g_temp"]]},{"id":"f_h","type":"function","z":"flow1","name":"get_hum","func":"msg.payload = msg.payload.hum;\nreturn msg;","outputs":1,"x":440,"y":180,"wires":[["g_hum"]]},{"id":"f_s","type":"function","z":"flow1","name":"get_soil","func":"msg.payload = msg.payload.soil;\nreturn msg;","outputs":1,"x":440,"y":220,"wires":[["g_soil"]]},{"id":"f_l","type":"function","z":"flow1","name":"get_light","func":"msg.payload = msg.payload.light;\nreturn msg;","outputs":1,"x":440,"y":260,"wires":[["g_light"]]},{"id":"g_temp","type":"ui_gauge","z":"flow1","name":"","group":"group1","order":1,"width":0,"height":0,"gtype":"gage","title":"Température","label":"°C","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3b33"],"x":650,"y":140,"wires":[]},{"id":"g_hum","type":"ui_gauge","z":"flow1","name":"","group":"group1","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidité Air","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3b33"],"x":650,"y":180,"wires":[]},{"id":"g_soil","type":"ui_gauge","z":"flow1","name":"","group":"group1","order":3,"width":0,"height":0,"gtype":"gage","title":"Sol","label":"","format":"{{value}}","min":0,"max":4095,"colors":["#00b500","#e6e600","#ca3b33"],"x":650,"y":220,"wires":[]},{"id":"g_light","type":"ui_gauge","z":"flow1","name":"","group":"group1","order":4,"width":0,"height":0,"gtype":"gage","title":"Lumière","label":"","format":"{{value}}","min":0,"max":4095,"colors":["#00b500","#e6e600","#ca3b33"],"x":650,"y":260,"wires":[]},{"id":"ts_req","type":"http request","z":"flow1","name":"ThingSpeak Update","method":"GET","ret":"txt","url":"","x":700,"y":80,"wires":[[]]},{"id":"b1","type":"mqtt-broker","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883"}]
