node_red_flow.json
[{"id":"m1","type":"mqtt in","z":"flow1","name":"","topic":"ma_serre/data","broker":"b1","x":120,"y":100,"wires":[["j1"]]},{"id":"j1","type":"json","z":"flow1","name":"","property":"payload","action":"","pretty":false,"x":280,"y":100,"wires":[["f1","f2"]]},{"id":"f1","type":"function","z":"flow1","name":"Extraction Temp","func":"msg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"x":430,"y":80,"wires":[["g1","ts1"]]},{"id":"f2","type":"function","z":"flow1","name":"Extraction Sol","func":"msg.payload = msg.payload.sol;\nreturn msg;","outputs":1,"x":430,"y":140,"wires":[["g2","ts2"]]},{"id":"ts1","type":"http request","z":"flow1","name":"ThingSpeak Field 1","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?api_key=GN79WH2BIQUXM35N&field1={{payload}}","x":650,"y":80,"wires":[[]]},{"id":"ts2","type":"http request","z":"flow1","name":"ThingSpeak Field 2","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?api_key=GN79WH2BIQUXM35N&field2={{payload}}","x":650,"y":140,"wires":[[]]},{"id":"b1","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883"}]